.heart{
    position: relative;
    height: 160px;
  width: 100px;
    background: red;
    border-radius: 200px 200px 0 0;
    transform: rotate(45deg);
    align-items: center;
    padding: 10px;
    margin-left: 30px;
}
.heart::before{
    content: "";
    position: absolute;
    background: red;
    height: 160px;
    width:100px;
    transform:rotate(-90deg);
    border-radius: 200px 200px 0 0 ;
    padding: 10px;
    
    left:-30px;
    top:30px;
}